<section id="question_one">
  <h2>Pick an Animal:</h2>
 <form name ="quiz" action="/users/<%= @user.id %>/personality" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <div align="center">
    <input type="image" src="assets/animalquiz/escapist_animal.jpg" name="answer" width="400" height="400" value="escape_artist">

    <input type="image" src="assets/animalquiz/intelligentsia_animal.jpg" name="answer" width="400" height="400" value="intelligentsia">

    <input type="image" src="assets/animalquiz/realist_animal.jpg" name="realist" width="answer" height="400" value="realist">

    <input type="image" src="assets/animalquiz/sartorialist_animal.jpg" name="answer" width="400" height="400" value="sartorialist">

    <input type="image" src="assets/animalquiz/techie_animal.jpg" name="answer" width="400" height="400" value="techie">
  </div>
</form>
</section>


<section id="question_two">
  <h2>Choose a Book:</h2>
  <form name ="quiz" action="/users/<%= @user.id %>/personality" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <div align="center">
    <input type="image" src="assets/booksquiz/escapist_book.jpg" name="answer" width="400", height="400" value="escapist">

    <input type="image" src="assets/booksquiz/intelligentsia_book.jpg" name="answer" width="400", height="400" value="intelligentsia">

    <input type="image" src="assets/booksquiz/realist_book.jpg" name="answer" width="400", height="400" value="realist">

    <input type="image" src="assets/booksquiz/sartorialist_book.jpg" name="answer" width="400", height="400" value="sartorialist">

    <input type="image" src="assets/booksquiz/techie_book.jpg" name="answer" width="400", height="400" value="techie">
  </div>
</form>
</section>

<section id="question_three">
  <h2>Select a Map:</h2>
 <form name ="quiz" action="/users/<%= @user.id %>/personality" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <div align="center">
    <input type="image" src="assets/mapquiz/escapist_map.jpg" name="answer" whidth="400" height="400" value="escapist">

    <input type="image" src="assets/mapquiz/intell_map.jpg" name="answer" whidth="400" height="400" value="intelligentsia">

    <input type="image" src="assets/mapquiz/realist_map.jpg" name="answer" whidth="400" height="400" value="realist">

    <input type="image" src="assets/mapquiz/sartor_map.jpg" name="answer" whidth="400" height="400" value="sartorialist">

    <input type="image" src="assets/mapquiz/techie_map.jpg" name="answer" whidth="400" height="400" value="techie">
  </div>
</form>
</section>

<section id="question_four">
  <h2>Choose a Landscape:</h2>
  <form name ="quiz" action="/users/<%= @user.id %>/personality" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <div align="center">
    <input type="image" src="assets/classicalelementsquiz/escapist_landscape.png" name="answer" whidth="400" height="400" value="escapist">

    <input type="image" src="assets/classicalelementsquiz/intell_landscape.jpg" name="answer" whidth="400" height="400" value="intelligentsia">

    <input type="image" src="assets/classicalelementsquiz/realist_landscape.jpg" name="answer" whidth="400" height="400" value="realist">

    <input type="image" src="assets/classicalelementsquiz/sartorialist_landscape.jpg" name="answer" whidth="400" height="400" value="sartorialist">

    <input type="image" src="assets/classicalelementsquiz/techi_landscape.png" name="answer" whidth="400" height="400" value="techie">
  </div>
</form>
</section>

<section id="question_five">
  <h2>Pick a Classical Element:</h2>
 <form name ="quiz" action="/users/<%= @user.id %>/personality" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <div align="center">
    <input type="image" src="assets/classicalelementsquiz/escapist_element.jpg" name="answer" whidth="400" height="400" value="escapist">

    <input type="image" src="assets/classicalelementsquiz/intelligentsia_element.jpg" name="answer" whidth="400" height="400" value="intelligentsia">

    <input type="image" src="assets/classicalelementsquiz/realist_element.jpg" name="answer" whidth="400" height="400" value="realist">

    <input type="image" src="assets/classicalelementsquiz/sartorialist_element.jpg" name="answer" whidth="400" height="400" value="sartorialist">

    <input type="image" src="assets/classicalelementsquiz/techie_element.jpg" name="answer" whidth="400" height="400" value="techie">
  </div>
</form>
</section>



