
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.dob %>
</p>

<p>
  <strong>Personality:</strong>
  <% id = @user.personality_id %>
  <% personality = Personality.find(id) %>
  <a href="/users/<%= @user.id %>/personality"><%= personality.name %></a>
</p>

<%= link_to 'Go to your dashboard', user_taste_path(@user.id, personality.id) %> |
<%= link_to 'Back', users_path %>
