<div class="container">

<%= notice %>

  <div class="page-header">
    <h1><%= @personality.name %>: <%= @personality.tags %></h1>
  </div>

  <% @tastes.each do |taste| %>

  <div class="row">

    <div class="col-sm-4">

      <% if taste.personality_id == @personality.id %>
      <%= taste.category %>
      <% case taste.category %>
      <% when "Eat" %>
          <img src="<%= @instagram_parsed_response_eat["data"][3]["images"]["standard_resolution"]["url"] %>" height="250" />
    </div>

    <div class="col-sm-4">
      <% when "Go" %>
        <img src="<%= @instagram_parsed_response_go["data"][3]["images"]["standard_resolution"]["url"] %>" height="250" />
    </div>

    <div class="col-sm-4">
      <% when "Shop" %>
        <img src="<%= @instagram_parsed_response_shop["data"][3]["images"]["standard_resolution"]["url"] %>" height="250" />
    </div>

    <div class="col-sm-4">
      <% when "Read" %>
        <% @nyt_parsed_response["results"].each do |book| %>
          <% book["book_details"].each do |info| %>
            <div class="books">
              <%= info["title"] %></br>
              <%= info["author"] %></br>
              <%= info["description"] %></br>
              <%= info["publisher"] %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      <% when "Listen" %>
      <% case @personality.id %>
      <% when 1 %>
        <iframe src="https://embed.spotify.com/?uri=https://play.spotify.com/user/mobymus/playlist/7aBuRPft205uzpxsBxp3qS" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>

    <div class="col-sm-4">
      <% when 2 %>
        <iframe src="https://embed.spotify.com/?uri=https://play.spotify.com/user/soundrop/playlist/5Yibg8tyfrCKxHWzFIpFcN" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>

    <div class="col-sm-4">
      <% when 3 %>
        <iframe src="https://embed.spotify.com/?uri=https://play.spotify.com/user/sharemyplaylists.com/playlist/3KBBM9y2iNPVm8tVYmfmL9" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>

    <div class="col-sm-4">
      <% when 4 %>
        <iframe src="https://embed.spotify.com/?uri=https://play.spotify.com/user/sonymusicbelgium/playlist/6tnJ4g740KEorytHqqmmCU" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
        <div class="col-sm-4">
          <% when 5 %>
            <iframe src="https://embed.spotify.com/?uri=https://play.spotify.com/user/12128193812/playlist/4DCIBYMQFR2IFXBqjDZJik" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
          <% end %>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="books">
        <% when "Do" %>
          <% if @personality.id != 5 %>
              <%= @feed.channel.title %>
            <% @feed.items.each do |item| %>
                <%= item.title %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4">
          <% else %>
             <%= meetup["name"] %>
             <%= meetup["link"] %>
             <%= meetup["description"] %>
             <%= meetup["rating"] %>
             <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  </div>


</div>
</div>

<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <%= link_to 'Home', root_path %> |
  <%= link_to 'Back', users_path %> |
  <%= link_to("Logout", session_path, method: :delete) %>
  </nav>
</div>

</div> <!-- containter -->


