<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personality.name %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @personality.descr %>
</p>

<%= link_to 'Edit', edit_personality_path(@personality) %> |
<%= link_to 'Back', personalities_path %>
