<header>
  <%= link_to 'Home', root_path %>
</header>

<div class="container">
<h1 id="notice"><%= notice %></h1>


<div class="page-header">
  <h1><%= @personality.name %>: <%= @personality.tags %></h1>
</div>


<div class="container">
  <h3><%= @personality.description %></h3>
</div>


<div class="launch">
<button type="button" class="btn btn-default btn-lg"><%= link_to('Launch!', user_taste_path) %></button>
<p> Disagree with our assessment? <%= link_to("Retake the quiz
", user_quiz_path) %> </p>
</div>
</div>

