
<p id="notice"><%= notice %></p>

<h2 class="jumbotron">
  <%= @personality.name %>: <%= @personality.tags %>
</h2>

<p>
  <strong><%= @personality.description %></strong>
</p>

<%= link_to 'Go to your dashboard.', user_taste_path(params[:user_id], @personality.id) %>
<p> Disagree with our assessment? (<%= link_to("Retake the quiz
", user_quiz_path) %>)</p>
