<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<h2 class="jumbotron">
  <%= @personality.name %>: <%= @personality.tags %>
</h2>

<p>
  <strong>Descr:</strong>
  <%= @personality.description %>
</p>

<%= link_to 'Edit', edit_personality_path(@personality) %> |
<%= link_to 'Back', personalities_path %>
